
/* styles.css */
@font-face {
  font-family: 'Hind';
  src: url('font/hind/hind-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f0f0f0; /* Soft grey background for a modern look */
  color: #333; /* Dark grey text for better readability */
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  color: #333;
  font-family: 'Hind';
  margin: 0.5em 0;
  font-size: 2.5em; /* Adjusted for better visual hierarchy */
}

label, select, button {
  font-size: 1.2em;
  display: block;
}

select, button {
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid #008cba; /* Stylish border for inputs */
  border-radius: 5px;
}

button {
  background-color: #008cba; /* Refreshing blue for buttons */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #006494; /* Darker blue on hover for interactivity */
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   padding: 50px;
   border-radius: 25px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 800px; /* Stel een maximale breedte in als je wilt */
   width: 100%; /* Dit zorgt ervoor dat de container breedte aanpast aan de maximale breedte */
   margin-left: auto;
   margin-right: auto;
}

.Vakantie-dropdown {
  padding-bottom: 25px;
  display: grid;
}

.image-selection label {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.image-selection label img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, border-color 0.3s ease;
  border: 2px solid transparent; /* Standaard transparante rand */
}

.image-selection input[type="radio"] {
  display: none;
}

.image-selection input[type="radio"]:checked + img {
  transform: scale(1.1);
  border-color: #ffb931; /* Deze kleur wordt nu zichtbaar omdat de randdikte al gedefinieerd is */
}

.image-selection figcaption {
  text-align: center; /* Centreer de tekst */
  margin-top: 5px; /* Voeg wat ruimte toe boven de titel */
  color: #333; /* Kleur van de titel, kan worden aangepast */
  font-size: 0.6em; /* Kleinere tekstgrootte voor de titel */
}

.extra-voorkeuren {
  display: grid;
  padding-top: 25px;
  padding-bottom: 50px;
}

#extra-voorkeuren {
  max-width: 100%;
}

#response-output {
  background-color: white;
  color: #333;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

select, button {
  text-align: center;
}

/* Media query for better responsive design */
@media (max-width: 400px) {
  body {
    padding: 10px;
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.2em 0;
  }

  label, select, button {
    font-size: 1em;
  }

  select, button {
    padding: 8px 15px;
  }
.image-selection {
  padding: 25px;
  display: grid;

}
  .container {
    padding: 20px;
  }

  #response-output {
    padding: 10px;
    margin-top: 10px;
    max-width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 2.25em;
  }

  /* Additional styles can be added here for other elements as needed */
}

#loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #008cba; /* Using the button color for consistency */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}
