
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

body {
  background-color: #f0f0f0; /* Soft grey background for a modern look */
  color: #333; /* Dark grey text for better readability */
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  color: #333;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  margin: 1em 0;
  font-size: 2.5em; /* Adjusted for better visual hierarchy */
}

h3 {
  font-size: 1.2em;
  margin: 0px;
  margin-bottom: 10px;
}

label, select, button {
  font-size: 1.2em;
  display: block;
}

select, button {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #b6b6b6;
}

button {
  background-color: #ffb931; /* Refreshing blue for buttons */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #b79700; /* Darker blue on hover for interactivity */
}


.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   padding: 50px;
   border-radius: 25px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 800px; /* Stel een maximale breedte in als je wilt */
   margin-left: auto;
   margin-right: auto;
}
#input-fields {
  display: grid;
}

.locatie {
  display: inline-grid;
  padding-bottom: 35px;
}

.locatie input {
  margin-top: 10px;
  font-size: 1em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.locatie input::placeholder {
  color: #888;
  font-style: italic;
}

.Vakantie-dropdown {
  padding-bottom: 35px;
  display: grid;
 }

.Vakantie-dropdown select {
  text-align: left;
  font-size: 1em;
  padding: 20px;
   border-radius: 5px;
  border: 1px solid #eee;

}

.image-selection {
  margin-bottom: 35px;
}

.image-selection label {
  display: inline-grid;
  justify-content: center;
  margin: 5px;
  cursor: pointer;

}

.image-selection label img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, border-color 0.3s ease;
  border: 2px solid transparent; /* Standaard transparante rand */
}

.image-selection input[type="radio"] {
  display: none;
}

.image-selection input[type="radio"]:checked + img {
  transform: scale(1.1);
  border-color: #ffb931; /* Deze kleur wordt nu zichtbaar omdat de randdikte al gedefinieerd is */
}

.image-selection figcaption {
  text-align: center; /* Centreer de tekst */
  margin-top: 5px; /* Voeg wat ruimte toe boven de titel */
  color: #333; /* Kleur van de titel, kan worden aangepast */
  font-size: 0.6em; /* Kleinere tekstgrootte voor de titel */
}

.extra-voorkeuren {
  display: grid;
  padding-top: 25px;
  padding-bottom: 50px;
}

.extra-voorkeuren textarea::placeholder {
  color: #888;
  font-style: italic;
}

#textarea-voorkeuren {
  max-width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-family: 'Fredoka', sans-serif;
  font-size: 1em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
}

#response-output {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 1.5em;
}

select, button {
  text-align: center;
}

/* Media query for better responsive design */
@media (max-width: 400px) {
  body {
    padding: 10px;
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 10px;
    line-height: 1.3;

  }

  label, select, button {
    font-size: 1em;
  }

  select, button {
    padding: 8px 15px;
  }

.image-selection {
  display: inline;

}
.image-selection figcaption {
  text-align: center; /* Centreer de tekst */
  margin-top: 5px; /* Voeg wat ruimte toe boven de titel */
  color: #333; /* Kleur van de titel, kan worden aangepast */
  font-size: 0.6em; /* Kleinere tekstgrootte voor de titel */
}

  .container {
    padding: 25px;
  }

  #response-output {
    padding: 10px;
    margin-top: 10px;
    max-width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 2.25em;
  }

  /* Additional styles can be added here for other elements as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}
