
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;&display=swap');

body {
  background-color: #FFFF;
  color: #455375; /* Dark grey text for better readability */
  font-family: 'Fredoka', sans-serif;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  line-height: 2em;
}

header {
  display: flex;
  width: 100%; 
  height: 100%;
  background: white; 
  border-bottom: 1px #EFEFEF solid

}

footer {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  color: #FFFF;
  background-color: #FF8E8E;
}

.title {
  color: #40506A;
  font-family: Fredoka;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 55.688px; /* 222.75% */
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

h1 {
  color: #455375;
  font-family: Fredoka;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 65px;
}

h2 {
  color: #FF8E8E;
  font-family: Fredoka;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 55.688px; /* 222.75% */
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}

h2.hero-h2 {
  color: #FF8E8E;
  font-family: Fredoka;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 10px;
}

h3.homepage-title {
  text-align: center;
  padding-top: 75px;
  color: #FF8E8E;
  font-family: Fredoka;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}

p.hero-tekst {
  padding-right: 75px;
  font-size: 20px;
}

p.homepage-content-tekst {
  font-size: 20px;
}

label, select, button {
  font-family: Fredoka;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 371.25% */
  letter-spacing: -0.3px;
}

select, button {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #b6b6b6;
}

button {
  display: inline-flex;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border-color: #FF8E8E;
  background: var(--Primary, #FF8E8E);
  color: var(--White, #FFF);
  font-family: Fredoka;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.32px;
}

button:hover {
  background-color: #FFFF;
  color: #40506A;
  cursor: pointer;
}

.text-blue {
  color: #455375;
  font-family: Fredoka;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}

.headerleft {
  display: flex;
  justify-content: left;
  width: 75%;
  align-items: center;
  margin-left: 25px;

}

.headerright {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 25%;
  margin-right: 25px;
}

.hero {
  display: flex;
  height: 600px;
}

.hero-content {
  background-color: #FFF8F8;
  padding: 75px 75px;
}

.hero-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.homepage-image {
position: absolute;
    min-width: 100%;
    min-height: 600px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
    object-fit: cover;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #40506A; 
  font-size: 25px;
  text-decoration: none;
  font-family: Fredoka; 
  font-weight: 700; 
  line-height: 1em;
  word-wrap: break-word
}

.logoimage {
  display: inline-block;
  width: 50px; 
  height: auto;
  justify-content: center; 
}

.illustration {
  width: 313px;
  height: 208px;  
}

.homepage-content-left {
  display: flex;
  padding: 25px 15%;
  margin-top: 75px;
}

.homepage-content-left-tekst {
  margin-right: 10%;
}

.homepage-content-right {
  display: flex;
  flex-direction: row-reverse;
  padding: 25px 15%;
  margin-bottom: 75px;
}

.homepage-content-right-tekst {
  margin-left: 10%;
}

.homepage-content-title {
  color: #FF8E8E;
  font-size: 25px;
  font-weight: 500;

}

.headerlink {
  padding: 25px;
  color: #40506A; 
  font-size: 20px; 
  font-family: Fredoka; 
  font-weight: 500; 
  line-height: 55.69px; 
  word-wrap: break-word
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px 25%;
   max-width: 50%; /* Stel een maximale breedte in als je wilt */
   margin-left: auto;
   margin-right: auto;
}

#content-container {
  padding: 0px 20%;
}

#input-fields {
  display: grid;
}

.locatie {
  display: inline-grid;
  padding-bottom: 35px;
}

.locatie input {
  margin-top: 10px;
  font-size: 1em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.locatie input::placeholder {
  color: #888;
  font-style: italic;
}

.Vakantie-dropdown {
  padding-bottom: 35px;
  display: grid;
 }

.Vakantie-dropdown select {
  text-align: left;
  font-size: 1em;
  padding: 20px;
   border-radius: 5px;
  border: 1px solid #eee;

}

.image-selection label {
  display: inline-grid;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #FF8E8E;
  background: #FEE;
  padding: 10px 50px;
}

.image-selection label img {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

.image-selection input[type="radio"] {
  display: none;
}

.image-selection input[type="radio"]:checked + img {
  border-color: #ff8e8e;
}

.image-selection label.selected {
  background-color: #FFFF;
}

.extra-voorkeuren {
  display: grid;
  padding-top: 25px;
  padding-bottom: 50px;
}

.extra-voorkeuren textarea::placeholder {
  color: #888;
  font-style: italic;
}

#textarea-voorkeuren {
  max-width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-family: 'Fredoka', sans-serif;
  font-size: 1em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
}

#response-output {
  padding: 25px 0px;
  margin-bottom: 25px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  line-height: 1.5em;
}

#stel-samen-btn {
  align-self: center;
  height: 48px;
  padding: 12px 16px;
  gap: 10px;
  border-radius: 6px;
  background: #FF8E8E;
}

#response-title{
  align-self: center;
}

.reisaanbod-container {
  display: grid;
  background-color: #FFF6F6;
}

#reisaanbodDisplay {
  display: flex;
  padding: 0px 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#reisaanbod-title {
    color: #40506A;
    justify-self: center;
    font-family: Fredoka;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 55.688px;
    letter-spacing: -0.5px;
    margin-bottom: 40px;

}

.reisaanbod-item {
  display: inline-table;
  margin-top: 25px;
  width: 100%;
height: 394px;
flex-shrink: 0;
}

.reisaanbod-item-content {
  display: flex;
}

.reisaanbod-item-content-left {
  min-width: 40%;
}

.reisaanbod-item-content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
}

.item-header {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.reisaanbod-logo {
  position: absolute;
    background-color: #FFF;
    margin-top: 20px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 20px;
    width: auto;
    height: 30px;
}

.reisaanbod-naam {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #FF8E8E;
  font-family: Fredoka;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 55.688px; /* 371.25% */
  letter-spacing: -0.3px;
}

.reisaanbod-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.reisaanbod-beschrijving {
  padding-bottom: 25px;
  line-height: 2em;
  margin-top: 0px;

}

.reisaanbod-knop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reisaanbod-prijs {
  margin-right: 20px;
  font-weight: 500;
  color: #40506A;
  font-size: 25px;
}
.reisaanbod-link {
  background-color: #FF8E8E;
  padding: 10px 20px;
  border: 1px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
}

}

#reisaanbodDisplay .reisaanbod-link {
  align-self: end;

}

.footer-left {
  display: contents;
}

.footer-right {
  display: contents;
}

.footer-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1em;
}

select, button {
  text-align: center;
}

/* Media query for better responsive design */
@media (max-width: 415px) {

  body {
    display: block;
  }

  h1 {
    font-size: 40px;
    padding-right: 25px;
    line-height: 1em;
  }

h1.title {
  padding: 0px;
  line-height: 1.2em;
  font-size: 25px;
}

  h2 {
    margin-bottom: 0px;
  }

p.hero-tekst {
  padding-right: 0px;
}

  label, select, button {
    font-size: 1.2em;
    line-height: 25px;
  }

  select, button {
    padding: 8px 15px;
  }

#content-container {
  padding: 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  height: unset;
}

.hero-image {
  min-height: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-content {
  padding: 20px 25px 0px 25px;
  background-color: #FFFF;
}

.homepage-image {
  position: absolute;
  min-width: 100%;
  min-height: 500px;
  min-width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.homepage-content-left {
  display: flex;
  padding: 25px 25px;
  margin-top: 25px;
  flex-direction: column;
}

.homepage-content-right {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  margin-bottom: 75px;
}

.homepage-content-right-tekst {
  margin-left: 0px;
}

.payoff {
  display: none;
}

.headerleft {
  margin-left: 0px;
}

.headerright {
  display: none;
}

.logo {
  padding: 10px;

}

.image-selection {
  display: inline;

}

.container {
    padding: 25px;
    margin: 0px;
    max-width: 100%;
  }

.reisaanbod-container {
    padding: 50px 20px;
}

#response-output {
    margin-top: 10px;
    max-width: 100%;
    font-size: 1.2em;

  }
#reisaanbod-title {
  line-height: 25px;
  text-align: center;
}

#reisaanbodDisplay {
  padding: 0px;

}

.reisaanbod-item-content {
    display: flex;
    flex-direction: column;
  }

.reisaanbod-item-content-left {
      max-width: 100%;
}  

.reisaanbod-item-content-right {
  padding-top: 20px;
  padding-left: 0px;
}

.reisaanbod-naam {
      line-height: 25px;
}

.reisaanbod-prijs {
  font-size: 20px;
}

.reisaanbod-link {
  padding: 0px 15px;
}

.reisaanbod-beschrijving {
  padding-bottom: 0px;
}

.footer-left {
  display: block;
}

.footer-right {
  display: block;
}

}

@media (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 2.25em;
  }

  /* Additional styles can be added here for other elements as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}
